APP_NAME=SIAP API
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=change-me
CORS_ORIGINS=http://localhost:5173,http://localhost:4173,http://192.168.37.35:4173
